@import '../../global.scss';

.menu{
    width: 300px;
    height: 100Vh;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    transition: all .25s ease;

    &.active{
        right: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 40px;
        color: white;
        font-weight: 300;
        width: 60%;

        li{
            margin-bottom: 25px;
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }
            &:hover{
                font-weight: 400;
                color:aquamarine
            }
        }
    }
    .footer{
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        .bottom-list{
            display: flex;
            justify-content: space-between;
            list-style: none;
            .item{
                text-decoration: none;
                img{
                    filter: invert(100%) sepia(83%) saturate(0%) hue-rotate(343deg) brightness(108%) contrast(101%);
                    height: 40px;
                }
            }
        }
    }
}